* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  font-family: 'Fira Sans', sans-serif;
  line-height: 1.5;
}

.hoverBuddy:hover {
  /*box-shadow: 0px 0px 35px -8px ##006EAF;*/
  height: 3.5em;
  background-color: #9D9D9D;
}

.hoverBuddy {
  display: block;
  font-size: 1.1em;
  padding: 1em;
  padding-bottom: 2.5em;
  width: auto;
  height: 2.5em;
  color: white;
  text-decoration: none;
}

a:hover, a:visited, a:link 
{
    text-decoration: none;
}



.quizContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 55vh;
  margin-left: 20vw;
}

.quizQuestion {
  margin-top: 1em;
  margin-bottom: 1em;
}

.textArea {
  text-align: left;
  line-height: 1.75;
  position: relative;
  left: 20vw;
  top: 5vh;
  font-size: 1.1em;
  width: 75%;
  font-weight: light;
  display: inline-block;
}

.textAreaFloating {
  text-align: left;
  line-height: 1.75;
  font-size: 1.1em;
  width: 90%;
  display: inline-block;
}

.secondaryHeader {
  font-size: 2em; 
  font-weight: 900;
  color: #3A3A3A;
}

.secondaryHeaderContainer {
  position: relative;
  top: 50vh;
  margin-left: 20vw;

}

.equipmentImage {
  max-width: 100%;
  height: auto;
}

.yellowButton {
  background-color: #3A3A3A;
  border: none;
  border-radius: 4px;
  color: #006EAF;
  margin-top: 1em;
}

.sectionCompleted {
  color: #D4EFFC;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
}

.sectionCompletedContainer{
  width: 15vw;
  padding: 1.5em;
  display: inline-block;
  background-color: #3A3A3A;
  position: fixed;
  bottom: 0;
  left:0;
}

.MathJax {
  font-size: 2.5em;
}

.feedbackBox  {
  display: inline-block;
  z-index: 1000;
  position: fixed;
  right: 2vw;
  bottom: 5vh;
  background-color: #FFDD00;
  font-size: 0.9em;
  font-weight: 900;
  padding: 0.6em;
  box-shadow: 0px 10px 35px 0px rgba(0,0,0,0.35);
  cursor: pointer;
  height: auto;
  width: 9vw;
  border-radius: 4px;
}

.feedbackBox:hover {
  box-shadow: 0px 30px 35px 0px rgba(0,0,0,0.35);
  background-color: #3A3A3A;
  color:  #FFDD00;

}